[Unit]
Description=Superhost API Service
After=network.target postgresql.service

[Service]
Type=simple
User=jonathan
WorkingDirectory=/home/jonathan/superhost/api
ExecStart=/usr/bin/node dist/index.js
Restart=always
Environment=NODE_ENV=production
# Inject .env values here or use EnvironmentFile
EnvironmentFile=/home/jonathan/superhost/api/.env

[Install]
WantedBy=multi-user.target
