[Unit]
Description=Superhost Worker Service
After=network.target postgresql.service mariadb.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/jonathan/superhost/worker
ExecStart=/usr/bin/node dist/index.js
Restart=always
Environment=NODE_ENV=production
EnvironmentFile=/home/jonathan/superhost/worker/.env

[Install]
WantedBy=multi-user.target
